*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding: 24px 156px;
  background-color: #fff;
}

.gallery {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 24px;
  justify-content: center;
}

.gallery-link {
  display: block;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  object-fit: cover;
  transform: scale(1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover .gallery-image {
  transform: scale(1.03);
}
