body {
  font-family: 'Montserrat', sans-serif;
  color: #2e2f42;
  margin: 24px;
  
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #4e75ff;
}

a:hover {
  text-decoration: underline;
}

h1 {
    margin-top: 16px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  gap: 8px;
  margin: 0 auto;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  color: #2e2f42;
  align-items: start;
}

.feedback-form input,
.feedback-form textarea {
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
  outline: none;
  line-height: 24px;
}

.feedback-form input:focus,
.feedback-form input:hover,
.feedback-form textarea:focus,
.feedback-form textarea:hover {
  border-color: #000000;
}

.feedback-form textarea {
  min-height: calc(8 * 24px + 16px);
}

.feedback-form button {
  margin-top: 8px;
  padding: 8px 16px;
  align-self: flex-start;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
}
